.author-box {
	border-radius: 8px;
	box-shadow: -3px 2px 70px 0px rgba(0, 0, 0, 0.15);
	font-size: 16px;
	margin-top: 3rem;

	.row {
		margin-right: 0px;
		margin-left: 0px;
	}

	div[class^="col-"] {
		padding-left: 0px;
		padding-right: 0px;
	}
}

.author-box-column-1 {
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	background: url(../images/leaves.jpg) no-repeat 50% 50%;
	background-size: cover;
	color: rgba(255,255,255,0.7);
	position: relative;

	h6 {
		color: #fff;
	}

	> * {
		position: relative;
	}

}

.author-box-column-1__overlay-1 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #27be92;
	background: linear-gradient(45deg, #27be92 0%,#815fbf 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#27be92', endColorstr='#815fbf',GradientType=1 );
	opacity: 0.6;
	border-radius: inherit;
}

.author-box-column-1__overlay-2 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.3;
	border-radius: inherit;
}

.author-box-column-2 {
	background: #fff;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	padding: 20px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;


	> :last-child {
		margin-bottom: 0;
	}
}

.author-box__avatar img {
	width: 80px;
	height: 80px;
	border-radius: 50%;
}

.author-box__description {

	a {
		color: inherit;
		text-decoration-color: inherit;
	}
}

.author-box__social {
	a {
		color: rgba(255,255,255,0.7);
		margin: 0 8px;
		font-size: 22px;
	}
}

.author-box-post{
	margin-bottom: 2rem;
}

.author-box-post__date {
	color: #999;
}

.author-box-post__title a{
	color: inherit;
	font-weight: 700;
	text-decoration: none;
	&:hover { color: $accent-color-2; }
}

.author-box-post__excerpt p {
	margin-bottom: 0;
}


@include media-breakpoint-up(sm) {
	.author-box-column-1 {
		padding: 40px;
	}

	.author-box-column-2 {
		padding: 40px;
	}
}

@include media-breakpoint-up(lg) {
	.author-box-column-1 {
		border-top-left-radius: 6px;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
		border-bottom-left-radius: 6px;
	}
	.author-box-column-2 {
		border-top-left-radius: 0px;
		border-top-right-radius: 6px;
		border-bottom-right-radius: 6px;
		border-bottom-left-radius: 0px;
	}
}