.checkout-badges {

	svg {
		height: 100%;
		max-width: 100%;
	}

	.checkout-badges__ssl {
		height: 26px;
	}

	.checkout-badges__norton {
		height: 28px;
	}

	.checkout-badges__mcafee {
		height: 18px;
	}

	.checkout-badges__moneyback {
		height: 26px;
	}

	.checkout-badges__cc {
		height: 26px;
	}
}

