.wp-block-embed {
	width: 100%;
	height: 0;
	position: relative;
}

.wp-embed-aspect-16-9 {
	padding-bottom: 56.25%;
}

.wp-block-embed__wrapper {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;

	iframe {
		width: 100%;
		height: 100%;
	}
}