.post-navigation {
	display:none;
	font-size: 15px;
	padding: 1rem;
	background: #fff;
	box-shadow: -3px 2px 70px 0px rgba(128, 144, 174, 0.12);
	border: 1px solid rgba(0,0,0,0.03);
	z-index: 999;

	max-height: 400px;
	overflow-y: scroll;
	transition: opacity 0.3s $easing;

	&:empty {
		display: none !important;
	}

	ul {
		margin-bottom: 0;
	}

	&.stick {
		position: fixed;
		top: 115px;
		left: 50%;
	}

	&.invisible {
		opacity: 0;
		visibility: hidden;
	}

}



@include media-breakpoint-up(md) {
	.post-navigation {
		display: block;
		width: 212px;

		&.stick {
			margin-left: -470px;
		}
	}
}

@include media-breakpoint-up(lg) {
	.post-navigation {
		width: 262px;

		&.stick {
			margin-left: -570px;
		}
	}
}

@include media-breakpoint-up(xl) {
	.post-navigation {
		width: 307px;

		&.stick {
			margin-left: -660px;
		}
	}
}
