.pricing-table {
	margin-left: 0;
	margin-right: 0;
	font-size: 16px;

	.icon-ok {
		width: 18px;
		height: 18px;
	}

  	.icon-question-circle {
		cursor: help;
		opacity: 0.4;
		width: 14px;
		height: 14px;
	}

	.icon-cancel {
		width: 14px;
		height: 14px;
		background-image: url(../images/icons/cancel--red.svg);
	}

}

.pricing-table > div {
	text-align: center;
	border-left: 1px solid #ebebeb;
	border-top: 1px solid #ebebeb;
	line-height: 1.5;
	height: 50px;
	display: flex;
    align-items: center;
    justify-content: center;
	padding-left: 10px;
	padding-right: 10px;
	background: #fff;

	&:first-child {
		justify-content: space-between;
		font-weight: 700;
		text-align: left;
	}

	&:last-child {
		border-right: 1px solid #ebebeb;
	}
}

.main-table .pricing-table > :not(:first-child) {
	width: 18.75%;
}

.pricing-table--header {
	
	.col-xs-3 {
		padding-left: 0;
		padding-right: 0;
	}
}

.pricing-table--header > div {
	height: auto;
	flex-direction: column;
	padding-top: 30px;
	padding-bottom: 30px;

	&:first-child {
		border-left: none;
		border-top: none;
		background: transparent;
	}
}

.pricing-table--last > div:first-child {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background:transparent;
	opacity: 0.5;
}

.pricing-table--last > div {
	padding-top:30px;
	padding-bottom:30px;
	height: auto;

	&:first-child {
		border-left: none;
		border-bottom: none;
	}

}

.pricing-table__title {
	font-weight: 400;
	color: #666;
	font-size: rem(20px);
}

.pricing-table__price {
	font-size: rem(38px);
	font-weight: 600;
	display: block;
	line-height: 1;
	width: 100%;
	padding: 15px 0;
	border-top: 1px solid #EEE;
	border-bottom: 1px solid #EEE;

	sup {
		font-size: 0.5em;
		vertical-align: middle;
		font-weight: 700;
	}

}

.pricing-table__initial-price {
	margin-bottom: 0px;
	font-size: rem(22px);
	font-weight: 600;
	display: block;
	color: #d9d9d9;
	line-height: 1;
	text-decoration: line-through;
	//text-decoration-color: red;
}

.pricing-table__message {
	padding: 1rem;
	background-color: #3e3e3e;
	color: #FFF;
	font-weight: 400;
	max-width: 90%;
	line-height: 1.15;


	h6 {
		color: #FFF;
	}

	small {
		font-size: 12px;
	}

	.icon-right-open-big {
		filter: invert(100%);
	}

	&.in-viewport {
		animation-name: animation-4;
		animation-duration: 3s;
		//animation-direction: reverse;
		//animation-fill-mode: backwards;
	}
}

.pricing-table--highlight > div {
	background: #F3EAD1 !important;
}

.pricing-table__button {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 0;
}

.pricing-table .pricing-table-inactive {

	* {
		opacity: 0.4;
		pointer-events: none;
	}

}

.pricing-message {
	background: #fff;
	border: 1px solid #eeebf2;
	padding: 55px;
	margin-bottom: 0;
	text-align: center;

	&:before {
		width: 100px;
		height: 100px;
		background: url(../images/money-back.png) no-repeat 50% 50%;
		background-size: cover;
		display: inline-block;
		content: '';
	}
}

.pricing-message__content {
	> *:last-child {
		margin-bottom: 0;
	}
}




@include media-breakpoint-up(sm) {

	.pricing-message {
		text-align: left;

		&:before {
			float:left;
		}
	}

	.pricing-message__content {
		padding-left: 190px;
	}
}


@media screen and (max-width: 1000px) {
	.main-table .pricing-table {
		min-width: 1000px;
		overflow-x: scroll;
		overflow-y: hidden;
		padding-right: 15px;
	}
}

@media screen and (max-width: 1000px) {
	.lite-vs-pro-table .pricing-table {
		min-width: 900px;
		overflow-x: scroll;
		overflow-y: hidden;
		padding-right: 15px;
	}
}

.pricing-table__package_description {
	font-size: rem(13px);
	padding: 0 5px 30px 5px;
	font-weight: 400;
	color: #666;
}