.rounded-box {
	background: #fff;
	box-shadow: -3px 2px 70px 0px rgba(128, 144, 174, 0.1);
	border-radius: 6px;
	padding: 20px 15px;
	margin-bottom: 30px;
	position: relative;

	& > :last-child {
		margin-bottom: 0 !important;
	}
}

@include media-breakpoint-up(sm) {
	.rounded-box {
		padding: rem(30px) rem(30px);
	}
}

