/* width */
::-webkit-scrollbar {
	width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #999;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: $accent-color-2;
}