.hero-section-2 {
	padding-top: rem(60px);
	padding-bottom: rem(60px);
	position: relative;
	background: #815fbf;
	background: linear-gradient(45deg, #815fbf 0%,#27be92 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#815fbf', endColorstr='#27be92',GradientType=1 );
	color: #fff;
	overflow: hidden;

	.row {
		align-items: center;
	}

	h1 {
		color: #fff;
		font-weight: 400;
		overflow-wrap: break-word;
		font-size: rem(28px);
		line-height: 1.2;
	}

	p {
		font-size: rem(17px);
	}

	.button {
		color: #fff;
	 	border-color: transparent;
	}

	.button--link:after{
		background: rgba(255,255,255,0.2);
	}


	.hero-section-2__hero {
		position: relative;
		cursor: pointer;
	}



	.hero-section-2__arrow {
		width: 400px;
		height: 40px;
		max-width: 100%;
		margin: 0px auto 0;
		background-size: 100%;
	}

	.cta_money_back_guarantee {
		font-size: 13px; 
		position:relative;
		top: -15px;
		padding: 0 45px;
		display: inline-block;
	}
}


@include media-breakpoint-up(lg) {
	.hero-section-2 h1 {
		font-size: rem(31px);
	}
}

@include media-breakpoint-up(xl) {

	.hero-section-2 h1 {
		font-size: rem(33px);
	}

	.hero-section-2__hero {
		width: 120%;
		margin-left: -10%;
		max-width: none;
	}

}


