.highlights-section {

	.media {
		display: flex;
		align-items: flex-start;
	  }
	  
	  .media-body {
		flex: 1;
	  }

	.highlights-section__wrap {
		background: #fff;

		div[class^="col-"] {
			border-right: 1px solid #EEE;
			border-bottom: 1px solid #EEE;
  
			&:nth-of-type(3n) {
				border-right: 0;
			}

			&:nth-child(13),
			&:nth-child(14),
			&:nth-child(15) {
				border-bottom: 0;
			}
		}

		.highlights-section__highlight {
			padding: 1rem;

			p {
				color: #8b8b8b;
				font-size: 16px;
			}

			img {
				height: 55px;
			}

			h5 {
				margin-bottom: 0.5rem;
			}
		}

	}

}
