.highlights-section {
	margin-top: rem(-30px);
}

.highlights-section__wrap {
	border-radius: 6px;
	background: #fff;
	box-shadow: -3px 2px 70px 0px rgba(128, 144, 174, 0.12);

	> :not(:last-child) {
		border-bottom: 1px solid #ececec;
	}
}

.highlights-section__highlight {
	padding: 1rem 0.5rem;
	text-align: center;

	svg {
		height: 50px;
	}

	p {
		color: #7d7d7d;
	}
}

@include media-breakpoint-up(sm) {
	.highlights-section__wrap {
		> :nth-child(odd) {
			border-right: 1px solid #ececec;
		}
		> :nth-last-child(-n+2) {
			border-bottom: none;
		}


	}
}

@include media-breakpoint-up(lg) {
	.highlights-section__wrap {
		> :not(:last-child) {
			border-right: 1px solid #ececec;
		}
		> * {
			border-bottom: none !important;
		}

	}
}

