.highlights-section {

	.media {
		display: flex;
		align-items: flex-start;
	  }
	  
	  .media-body {
		flex: 1;
	  }

	.highlights-section__wrap {
		background: #fff;

		div[class^="col-"] {
			border-right: 1px solid #EEE;
			border-bottom: 1px solid #EEE;
  
			&:nth-of-type(3n) {
				border-right: 0;
			}

			&:nth-child(16),
			&:nth-child(17),
			&:nth-child(18) {
				border-bottom: 0;
			}
		}

		.highlights-section__highlight {
			padding: 1rem;

			p {
				color: #585858;
				font-size: 16px;
			}

			img {
				height: 55px;
			}

			h5 {
				margin-bottom: 0.5rem;
			}
		}
	}
}


//breakpoint-infix(sm, (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px))
@media screen and (max-width: 992px) {

	body {

		.highlights-section {

			.highlights-section__wrap {

				div[class^="col-"] {
					border-right: 1px solid #EEE;
					border-bottom: 1px solid #EEE;

					&:nth-of-type(2n) {
						border-right: 0;
					}

					&:nth-of-type(3n) {
						border-right: 1px solid #EEE;
					}

					&:nth-child(16) { border-bottom: 1px solid #EEE;}

					&:nth-child(17),
					&:nth-child(18) {
						border-bottom: 0;
					}

					&:nth-child(6),
					&:nth-child(12),
					&:nth-child(18) {
						border-right: 0;
					}
				}
			}
		}
	}
}