.promotion-section {
	padding: 20px;
	color: #fff;
	user-select: none;
	background: $accent-color-1;

	.discount-code {
		background: rgba(0,0,0,0.6);
		border-radius: 6px;
		font-weight: 600;
		color: #fff;
		padding: 6px 10px;
		user-select: all;
		border:1px dashed;

	}

	strong {
		border-bottom:2px solid;
	}

	.timer {
		background: rgba(0,0,0,0.2);
		border-radius: 6px;
		font-weight: 600;
		color: #fff;
		padding: 6px 10px;
		user-select: all;
	}
}

.promotion-section--sticky {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
}