.illustration-15 .illustration__content {
	padding-bottom: 77.2%;
}
.illustration-15 svg {
	top: -12%;
}
.illustration-15__plant-1 {
	transform-origin: 14% 86%;
}
.illustration-15__plant-2 {
	transform-origin: 92% 86%;
	animation-delay: 3s;
}
.illustration-15__pin,
.illustration-15__pie-1,
.illustration-15__pie-2 {
	animation-iteration-count: 1;
	animation-timing-function: cubic-bezier(0.250, 0.250, 0.000, 1.365);
	animation-fill-mode: forwards;
}
.illustration-15__pin {
	animation-duration: 3s;
	transform-origin: 50% 86%;
	animation-delay: 1s;
}
.illustration-15__pie-1 {
	opacity: 0;
	animation-duration: 0.5s;
	animation-delay: 2s;
}
.illustration-15__pie-2 {
	opacity: 0;
	animation-duration: 0.5s;
	animation-delay: 4s;
}
.illustration--animate {
	.illustration-15__pie-1,
	.illustration-15__pie-2 {
		animation-name: illustration-15__pie;
	}
	.illustration-15__pin {
		animation-name: illustration-15__pin;
	}
}

@keyframes illustration-15__pin {
	0% {
		transform: rotate(0deg);
	}
	33% {
		transform: rotate(74deg);
	}
	66% {
		transform: rotate(74deg);
	}
	100% {
		transform: rotate(125deg);
	}
}

@keyframes illustration-15__pie {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}