.illustration-4 .illustration__content {
	padding-bottom: 96%;
}

.illustration-4 svg {
	top: -3%;
}

.illustration-4__heart-2 {
	animation-delay: 0.1s;
}
.illustration-4__heart-3 {
	animation-delay: 0.2s;
}
.illustration-4__heart-4 {
	animation-delay: 0.3s;
}
.illustration-4__heart-5 {
	animation-delay: 0.4s;
}
.illustration-4__heart-6 {
	animation-delay: 0.5s;
}
.illustration-4__heart-7 {
	animation-delay: 0.6s;
}
.illustration-4__heart-8 {
	animation-delay: 0.7s;
}
.illustration-4__plant-1 {
	animation-delay: 0.8s;
	transform-origin: 34% 97%;
}
.illustration-4__plant-2 {
	animation-delay: 0.9s;
	transform-origin: 75% 97%;
}