.illustration-5 .illustration__content {
	padding-bottom: 75%;
}

.illustration-5 svg {
	top: -17%;
}

.illustration-5__instruction-2 {
	animation-delay: 0.2s;
}
.illustration-5__instruction-3 {
	animation-delay: 0.4s;
}
.illustration-5__instruction-4 {
	animation-delay: 0.6s;
}
.illustration-5__instruction-5 {
	animation-delay: 0.8s;
}
.illustration-5__plant {
	animation-delay: 1s;
}