.illustration-8 .illustration__content {
	padding-bottom: 88%;
}
.illustration-8 svg {
	top: -8%;
}
.illustration-8__slice-2 {
	animation-delay: 0.2s;
}
.illustration-8__slice-3 {
	animation-delay: 0.4s;
}
.illustration-8__slice-4 {
	animation-delay: 0.6s;
}
.illustration-8__slice-5 {
	animation-delay: 0.8s;
}
.illustration-8__slice-6 {
	animation-delay: 1s;
}



