.illustration-2 .illustration__content {
	padding-bottom: 77%;
}

.illustration-2 svg {
	top: -15%;
}

.illustration-2__leaves {
	animation-delay: 0s;
}
.illustration-2__images {
	animation-delay: 0.2s;
}
.illustration-2__thumbnail-1 {
	animation-delay: 0.4s;
}
.illustration-2__thumbnail-2 {
	animation-delay: 0.6s;
}
.illustration-2__thumbnail-3 {
	animation-delay: 0.8s;
}
.illustration-2__thumbnail-4 {
	animation-delay: 1s;
}
.illustration-2__thumbnail-5 {
	animation-delay: 1.2s;
}
.illustration-2__thumbnail-6 {
	animation-delay: 1.4s;
}
.illustration-2__thumbnail-7 {
	animation-delay: 1.6s;
}
